/* ====================== VUE AUTHENTIFICATION ==================== */
<<<<<<< HEAD
.selected {
  border: 1px solid var(--selected);
  color: var(--selected);
}
a.city.selected:hover {
  box-shadow: 0 0 10px rgba(170,0,0,0.7);
  border: 1px solid var(--selected);
  color: var(--selected);
}

p {
	text-align:center;
}
=======
* { padding: 0;  margin: 0;  text-decoration: none;  color: black;  font-family: 'Lato', sans-serif; list-style: none;}
html, body { height: 100%; width: 100%;}
#auth { margin-top: 25px; margin-bottom: 25px;}
h1 { text-align:center; color: red; }
>>>>>>> master
